__pycache__
.vscode
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea
*.aider*
.aider*
*.orig
logs/log.csv
credentials.csv
logs/log.csv
